{% load static %}
{% block base_top %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		a{
			margin-left: 10px;
		}
	</style>
</head>
<body>
{% endblock %}

{% block main_menu %}
<h1>Menu in base html</h1>
<div>
	<a href="/homepage/">Home page</a>
	<a href="/login/login">Login</a>
	<a href="/login/registry/">Registry</a>
	<a href="/login/logout/">Logout</a>
	<a href="/bookslist/">Books list</a>
	<a href="/bookadd">Add the book</a>
</div>
<div>
	authenticated: {{request.user.is_authenticated}} <br>
  User:{{user}}
</div>
{% endblock %}

{% block content%}
{% endblock %}

{% block main_bottom %}
</body>
</html>
{% endblock %}